@import url('../Variables.css');

.buscadorContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--french-blue);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 .2rem .3rem rgba(0, 0, 0, .3);
}
.h3Buscador{
    width: 100%;
    color: var(--pure-white);
}
.fieldset{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid .1rem var(--pure-white);
    border-radius: .3rem;
    padding: .3rem;
    background-color: var(--pure-white);
}
.inputBuscador{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: var(--font-primary);
}