@import url('../Variables.css');

.listadoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.headerListadoClientes {
    width: 100%;
    padding: 1rem;
    background-color: var(--deep-twilight);
    margin-bottom: 1rem;
}

.h2ListadoCLientes {
    color: var(--pure-white);
    font-weight: 700;
    font-size: 1.5rem;
}

.carouselWrapper {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.carouselWindow {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.carouselTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    width: 100%; 
    list-style: none;
}

.clienteCard {
    flex: 0 0 33.33%; 
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.cardContent {
    background-color: var(--pure-white);
    border: 1px solid var(--pale-slate-2);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.cardContent h3 {
    color: var(--deep-twilight);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.cardContent p {
    font-size: 0.9rem;
    color: #555;
}

.btnDetalle {
    display: block;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--deep-twilight);
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9rem;
}

.btnDetalle:hover {
    opacity: 0.9;
}

.arrowBtn {
    background-color: var(--deep-twilight);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-shrink: 0;
}

.arrowBtn:hover {
    background-color: var(--pale-slate-2);
}

.paginationContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.pageBtn {
    background-color: transparent;
    border: 1px solid var(--deep-twilight);
    color: var(--deep-twilight);
    
    min-width: 2rem;
    height: 2rem;
    
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: 600;
    font-family: var(--font-primary);
    transition: all 0.2s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageBtn:hover {
    background-color: var(--pale-slate-2);
}

.activePageBtn {
    background-color: var(--deep-twilight);
    color: var(--pure-white);
    transform: scale(1.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}