@import url('../Variables.css');

/* Contenedor principal: Tarjeta centrada pero no tan ancha como el listado */
.formContainer {
    width: 95%;
    max-width: 600px; /* Formularios se leen mejor si son más angostos */
    margin: 2rem auto;
    background-color: var(--pure-white);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--alabaster-grey);
    font-family: var(--font-primary);
}

/* Header */
.header {
    border-bottom: 2px solid var(--bright-snow);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.header h2 {
    color: var(--deep-twilight);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.btnBack {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--slate-grey);
    background-color: var(--bright-snow);
    padding: 0.4rem;
    border-radius: 50%;
    transition: all 0.2s;
}

.btnBack:hover {
    background-color: var(--pale-slate);
    color: var(--deep-twilight);
}

/* Estructura del Formulario */
.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Fieldset: Quitamos bordes por defecto para usarlo como contenedor flex */
.fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.label {
    font-weight: 600;
    color: var(--gunmetal);
    font-size: 0.95rem;
}

/* Inputs */
.input {
    padding: 0.8rem;
    border: 1px solid var(--pale-slate); /* Borde gris suave */
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: var(--font-primary);
    color: var(--carbon-black);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input::placeholder {
    color: var(--pale-slate-2);
}

.input:focus {
    outline: none;
    border-color: var(--french-blue);
    box-shadow: 0 0 0 3px var(--light-cyan); /* Anillo de foco sutil */
}

/* Estado de Error */
.inputError {
    border-color: var(--cherry-rose);
    background-color: var(--lavender-blush);
}

.errorMsg {
    color: var(--cherry-rose);
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.2rem;
}

/* Footer y Botón Submit */
.footer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end; /* Botón a la derecha */
}

.btnSubmit {
    background-color: var(--deep-twilight);
    color: var(--pure-white);
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.2s, transform 0.1s;
}

.btnSubmit:hover {
    background-color: var(--french-blue);
}

.btnSubmit:active {
    transform: scale(0.98);
}